@{
    ViewData["Title"] = "404 Not Found";
}

<div class="container" style="padding:50px 0; display:flex; align-items:center; flex-direction:column;">
    <h1 style="color:#62ab00;">The page you are trying to access is not found!</h1>
    <a class="mt-5 btn btn-black" asp-action="index" asp-controller="home">Back to Home Page</a>
</div>
