@model List<ProductImage>

@foreach (var image in Model)
{
    if (image.IsMain)
    {
        <div style="display:inline-block">Main Image</div>
        <img style="width:150px;height:150px;object-fit:cover" class="mx-2" src="~/client/assets/image/productss/@image.Url"/>
    }
    else if (image.IsHover)
    {
        <div style="display:inline-block">Hover Image</div>
        <img style="width:150px;height:150px;object-fit:cover" class="mx-2" src="~/client/assets/image/productss/@image.Url" />
    }
    else
    {
        <span data-id="@image.Id" class="btn text-danger">X</span>
        <img style="width:150px;height:150px;object-fit:cover" class="mx-2" src="~/client/assets/image/productss/@image.Url" />
    }
}