@{
    ViewData["Title"] = "Dashboard";
}
@model DashboardVM

<h1 style="margin:4px 0; display:flex; align-items:center; justify-content:center;">Categories</h1>
<hr />
<partial name="_CategoryPartial" model="@Model.Categories" />

<h1 style="margin:4px 0; display:flex; align-items:center; justify-content:center;">Brands</h1>
<hr />
<partial name="_BrandPartial" model="@Model.Brands" />

<h1 style="margin:4px 0; display:flex; align-items:center; justify-content:center;">Products</h1>
<hr />
<partial name="_ProductPartial" model="@Model.Products" />

@section Scripts {
    <script>
        const selectListBrands = document.querySelectorAll(".slct-brand");
        const productBtnBrands = document.querySelectorAll(".product-btn-brnd");

        selectListBrands.forEach((brnd, index) => {
            productBtnBrands[index].href = "admin/product/detail/" + brnd.value;
            brnd.addEventListener("click", () => {
                productBtnBrands[index].href = "admin/product/detail/" + brnd.value;
            });
        });

        const selectListCats = document.querySelectorAll(".slct-cat");
        const productBtnCats = document.querySelectorAll(".product-btn-cat");

        selectListCats.forEach((cat, index) => {
            productBtnCats[index].href = "admin/product/detail/" + cat.value;
            cat.addEventListener("click", () => {
                productBtnCats[index].href = "admin/product/detail/" + cat.value;
            });
        });
    </script>
}